qa-tc-scanner-workflow.json
{
  "name": "Daily QA TC Scanner - ClickUp + DeepSeek",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "node-cron",
      "name": "Daily Midnight IST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        380
      ],
      "notes": "Fires 18:30 UTC = 00:00 IST daily (timezone Asia/Kolkata)."
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"CLICKUP_LIST_IDS\": [\n    \"901608730150\"\n  ],\n  \"TARGET_STATUSES\": [\n    \"ready for qa\",\n    \"ready for development\",\n    \"in development\",\n    \"story defined\"\n  ],\n  \"ASSIGNEE_USER_ID\": \"94964380\",\n  \"TC_PREFIX\": \"[TC]\",\n  \"MIN_DESC_LENGTH\": 100,\n  \"MAX_TICKETS_PER_RUN\": 10,\n  \"AUTO_ADJUST_BATCH\": true,\n  \"RATE_LIMIT_SECONDS\": 2,\n  \"DEEPSEEK_MODEL\": \"deepseek-v4-pro\",\n  \"DEEPSEEK_MAX_TOKENS\": 16000,\n  \"MIN_TCS\": 12,\n  \"VERIFY_MAX_RETRIES\": 2,\n  \"TEAM_ID\": \"9016989623\",\n  \"MAIN_WORKFLOW_ID\": \"\",\n  \"N8N_BASE_URL\": \"http://localhost:5678\",\n  \"MAX_AUTO_RERUNS_PER_DAY\": 2,\n  \"STUCK_MINUTES\": 20,\n  \"EXPECTED_RUN_HOUR\": 0,\n  \"TEAMS_WEBHOOK_URL\": \"\",\n  \"ALERTS_CLICKUP_LIST_ID\": \"901608730150\",\n  \"ALERTS_TASK_ID\": \"\",\n  \"DASHBOARD_TASK_ID\": \"\",\n  \"DASHBOARD_HISTORY_LIMIT\": 30\n}"
      },
      "id": "node-config",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        380
      ],
      "notes": "Central config. AUTO_ADJUST_BATCH=true processes every candidate. RATE_LIMIT_SECONDS paces ClickUp writes. All ClickUp nodes retry on 429."
    },
    {
      "parameters": {
        "jsCode": "// EXPAND LIST IDS -> one item per configured list id\nconst cfg = $input.first().json;\nlet ids = cfg.CLICKUP_LIST_IDS;\nif (typeof ids === 'string') { try { ids = JSON.parse(ids); } catch (e) { ids = [ids]; } }\nif (!Array.isArray(ids)) ids = [ids];\nids = ids.filter(Boolean).map(id => String(id).trim());\nif (ids.length === 0) throw new Error('CLICKUP_LIST_IDS is empty - set at least one list id in Set Config.');\nreturn ids.map(id => ({ json: { list_id: id } }));\n"
      },
      "id": "node-expand",
      "name": "Expand List IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        380
      ],
      "notes": "One item per list id -> Fetch runs once per list."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.clickup.com/api/v2/list/{{ $json.list_id }}/task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "subtasks",
              "value": "false"
            },
            {
              "name": "include_closed",
              "value": "false"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "type": "qs",
                    "name": "page",
                    "value": "={{ $pageCount }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.last_page === true }}",
              "limitPagesFetched": true,
              "maxRequests": 200,
              "requestInterval": 300
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "clickup-header-auth",
          "name": "ClickUp API (Header Auth)"
        }
      },
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "id": "node-fetch",
      "name": "Fetch Candidate Tickets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        380
      ],
      "notes": "GET PARENT tickets only (subtasks=false), paginated (page -> until last_page). Retries on 429."
    },
    {
      "parameters": {
        "jsCode": "// FILTER TARGET-STATUS CANDIDATES\n// Input: ALL paged responses from the parents-only fetch (subtasks=false).\nconst cfg = $('Set Config').first().json;\nlet statuses = cfg.TARGET_STATUSES;\nif (typeof statuses === 'string') { try { statuses = JSON.parse(statuses); } catch (e) { statuses = [statuses]; } }\nif (!Array.isArray(statuses)) statuses = [];\nconst targetStatuses = statuses.map(s => String(s).trim().toLowerCase());\n\nconst pages = $input.all();\n\n// pagination truncation guard: never silently drop tickets\nif (pages.length) {\n  const last = pages[pages.length - 1].json || {};\n  const lastTasks = (last && last.tasks) || [];\n  if (lastTasks.length >= 100 && last.last_page !== true) {\n    throw new Error('Pagination likely truncated: last fetched page returned ' + lastTasks.length +\n      ' tasks but last_page was not true. Increase the Fetch node pagination maxRequests / check pagination config.');\n  }\n}\n\nconst allTasks = [];\nfor (const resp of pages) {\n  const tasks = (resp.json && resp.json.tasks) || [];\n  for (const t of tasks) allTasks.push(t);\n}\nconsole.log('Fetched ' + allTasks.length + ' parent tickets across ' + pages.length + ' page(s).');\n\nconst results = [];\nfor (const task of allTasks) {\n  if (task.parent) continue;\n  const status = ((task.status && task.status.status) || '').toLowerCase();\n  if (targetStatuses.length && !targetStatuses.includes(status)) continue;\n  results.push({ json: {\n    task_id: task.id,\n    task_name: task.name,\n    status: (task.status && task.status.status) || 'unknown',\n    list_id: (task.list && task.list.id) || ''\n  }});\n}\nconsole.log('Target-status candidates: ' + results.length);\n\nif (results.length === 0) {\n  return [{ json: { task_id: '', task_name: 'No matching tickets found', status: 'empty', list_id: '', no_candidates: true } }];\n}\nreturn results;\n"
      },
      "id": "node-candidates",
      "name": "Filter Target-Status Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        380
      ],
      "notes": "Flattens ALL pages; throws if pagination truncated; emits top-level tickets in TARGET_STATUSES."
    },
    {
      "parameters": {
        "jsCode": "// DYNAMIC BATCH LIMITER\nconst cfg = $('Set Config').first().json;\nconst MAX = Number(cfg.MAX_TICKETS_PER_RUN) || 10;\nconst AUTO = cfg.AUTO_ADJUST_BATCH === true || cfg.AUTO_ADJUST_BATCH === 'true';\nconst items = $input.all().filter(i => !i.json.no_candidates);\nif (items.length === 0) return [];\nconst limit = AUTO ? items.length : MAX;\nconst batch = items.slice(0, limit);\nconst overflow = Math.max(0, items.length - batch.length);\nconsole.log('Batch: processing ' + batch.length + ' of ' + items.length + ' candidate tickets (AUTO=' + AUTO + '). Overflow: ' + overflow);\nconst sd = $getWorkflowStaticData('global');\nsd.currentRun = { scanned: batch.length, updated: 0, tcs_created: 0, failed: 0, parse_failures: 0, started_at: new Date().toISOString() };\nreturn batch.map(item => ({ json: { ...item.json, total_candidates: items.length, overflow_count: overflow } }));\n"
      },
      "id": "node-batch",
      "name": "Batch Limiter Dynamic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        380
      ],
      "notes": "AUTO_ADJUST_BATCH=true -> all candidates; else cap MAX_TICKETS_PER_RUN."
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "node-loop-tickets",
      "name": "Loop Each Ticket",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1420,
        380
      ],
      "notes": "One ticket per iteration. Loop output = index 1; done (index 0) ends the run."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "include_subtasks",
              "value": "true"
            },
            {
              "name": "include_markdown_description",
              "value": "true"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "clickup-header-auth",
          "name": "ClickUp API (Header Auth)"
        }
      },
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "id": "node-detail",
      "name": "Get Ticket Detail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1620,
        300
      ],
      "notes": "Full ticket: nested subtasks[] + markdown_description (requirement). Retries on 429."
    },
    {
      "parameters": {
        "jsCode": "// EVALUATE COVERAGE (per ticket, from the task-detail response)\nconst detail = $input.first().json;\nconst cfg = $('Set Config').first().json;\nconst MIN_DESC = Number(cfg.MIN_DESC_LENGTH) || 100;\nconst TC_PREFIX = cfg.TC_PREFIX || '[TC]';\nconst ticket = $('Loop Each Ticket').first().json;\n\nconst subtasks = detail.subtasks || [];\nconst tcChildren = subtasks.filter(st => st.name && st.name.trim().startsWith(TC_PREFIX));\nconst hasTCs = tcChildren.length > 0;\n\nconst requirement = detail.markdown_description || detail.description || detail.text_content || '';\nconst isThin = requirement.trim().length < MIN_DESC;\n\nlet action = 'skip';\nif (hasTCs) action = 'skip';\nelse if (!isThin) action = 'generate';\nelse action = 'monitor';\n\nreturn [{ json: {\n  task_id: detail.id || ticket.task_id,\n  task_name: detail.name || ticket.task_name,\n  status: (detail.status && detail.status.status) || ticket.status || 'unknown',\n  list_id: (detail.list && detail.list.id) || ticket.list_id || '',\n  requirement: requirement,\n  has_tcs: hasTCs,\n  existing_tc_count: tcChildren.length,\n  is_thin: isThin,\n  action: action,\n  need_generate: action === 'generate'\n}}];\n"
      },
      "id": "node-evaluate",
      "name": "Evaluate Coverage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        300
      ],
      "notes": "hasTCs + thin-desc -> action generate/skip/monitor; carries requirement text."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-need",
              "leftValue": "={{ $json.need_generate }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "node-filter-need",
      "name": "Filter Needs Generation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2020,
        300
      ],
      "notes": "TRUE -> generate. FALSE (covered / thin) -> advance outer loop."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: $('Set Config').first().json.DEEPSEEK_MODEL,\n  max_tokens: $('Set Config').first().json.DEEPSEEK_MAX_TOKENS,\n  messages: [\n    {\n      role: 'system',\n      content: 'You are a Senior QA Architect with 20+ years of enterprise testing experience.\\n\\nGenerate comprehensive test cases for the given ClickUp ticket, based ONLY on the ticket requirement/description provided.\\n\\nRETURN ONLY A VALID JSON ARRAY - no markdown fences, no backticks, no preamble, no explanation.\\n\\nEach test case object MUST have these exact keys:\\n- tc_id: string (e.g. \"TC_001\")\\n- title: string (concise descriptive title)\\n- type: string (one of: \"Smoke\", \"Functional - Positive\", \"Functional - Negative\", \"Security\", \"Performance\", \"Non-Functional\", \"Edge Case\", \"Regression\")\\n- priority: string (one of: \"urgent\", \"high\", \"normal\", \"low\")\\n- module: string (feature area)\\n- objective: string (what this test verifies)\\n- preconditions: string (setup required)\\n- steps: string (numbered test steps)\\n- test_data: string (input data needed)\\n- expected_result: string (expected outcome)\\n\\nCoverage requirements:\\n- Generate at least ' + $('Set Config').first().json.MIN_TCS + ' test cases, but INCREASE the count until EVERY scenario category is covered - never stop at the minimum if coverage is incomplete.\\n- MUST include all types: Smoke, Functional Positive, Functional Negative, Security, Performance, Non-Functional/Edge Case, Regression.\\n- Priority mix roughly: 25% urgent, 35% high, 25% normal, 15% low.\\n- Every TC must be specific, actionable and independently executable.\\n- Security TCs: token tampering, PII exposure, auth bypass, injection.\\n- Performance TCs: load, concurrency, response-time thresholds.\\n- Edge TCs: null/boundary values, rapid repeated actions.\\n- Regression TCs: verify existing flows remain unaffected.\\n\\nReturn ONLY the JSON array.'\n    },\n    {\n      role: 'user',\n      content: 'Generate comprehensive test cases for this ticket:\\n\\nTicket: ' + $json.task_name + '\\nStatus: ' + $json.status + '\\n\\nFull Requirement / Description:\\n' + ($json.requirement || '').substring(0, 8000) + '\\n\\nReturn ONLY a valid JSON array.'\n    }\n  ]\n}) }}",
        "options": {
          "timeout": 300000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "deepseek-header-auth",
          "name": "DeepSeek API (Header Auth)"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "id": "node-deepseek",
      "name": "DeepSeek Generate TCs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        220
      ],
      "notes": "DeepSeek (OpenAI-compatible). Requirement from Evaluate Coverage. Model from config."
    },
    {
      "parameters": {
        "jsCode": "// PARSE DEEPSEEK RESPONSE -> one item per test case\nconst response = $input.first().json;\nconst cfg = $('Set Config').first().json;\nconst TC_PREFIX = cfg.TC_PREFIX || '[TC]';\nconst assignee = cfg.ASSIGNEE_USER_ID || '';\n\nlet ticketData = {};\ntry { ticketData = $('Evaluate Coverage').first().json; }\ncatch (e) { ticketData = {}; }\ntry { if (!ticketData.task_id) ticketData = $('Loop Each Ticket').first().json; } catch (e) {}\n\nlet textContent = '';\nif (response.choices && response.choices[0] && response.choices[0].message) {\n  textContent = response.choices[0].message.content || '';\n} else if (typeof response === 'string') {\n  textContent = response;\n}\n\nlet clean = textContent.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\nlet testCases = [];\ntry {\n  testCases = JSON.parse(clean);\n} catch (e) {\n  const m = clean.match(/\\[[\\s\\S]*\\]/);\n  if (m) {\n    try { testCases = JSON.parse(m[0]); }\n    catch (e2) {\n      return [{ json: { error: true, error_type: 'parse_failure', task_id: ticketData.task_id, task_name: ticketData.task_name, parse_error: e2.message, raw_preview: textContent.substring(0, 300) } }];\n    }\n  } else {\n    return [{ json: { error: true, error_type: 'no_json_found', task_id: ticketData.task_id, task_name: ticketData.task_name, raw_preview: textContent.substring(0, 300) } }];\n  }\n}\n\nif (!Array.isArray(testCases) || testCases.length === 0) {\n  return [{ json: { error: true, error_type: 'empty_array', task_id: ticketData.task_id, task_name: ticketData.task_name } }];\n}\n\nreturn testCases.map((tc, index) => {\n  const tc_id = tc.tc_id || ('TC_' + String(index + 1).padStart(3, '0'));\n  const title = tc.title || 'Untitled Test Case';\n  return { json: {\n    tc_id: tc_id,\n    title: title,\n    tc_name: TC_PREFIX + ' ' + tc_id + ' - ' + title,\n    type: tc.type || 'Functional - Positive',\n    priority: tc.priority || 'normal',\n    module: tc.module || 'General',\n    objective: tc.objective || '',\n    preconditions: tc.preconditions || 'None',\n    steps: tc.steps || '',\n    test_data: tc.test_data || 'N/A',\n    expected_result: tc.expected_result || '',\n    parent_task_id: ticketData.task_id,\n    task_name: ticketData.task_name,\n    list_id: ticketData.list_id || '',\n    assignee_id: assignee,\n    tc_index: index + 1,\n    total_tcs: testCases.length,\n    error: false\n  }};\n});\n"
      },
      "id": "node-parse",
      "name": "Parse TCs from DeepSeek",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        220
      ],
      "notes": "choices[0].message.content -> per-TC items; sets tc_name = '[TC] <id> - <title>'."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-noerror",
              "leftValue": "={{ $json.error }}",
              "rightValue": "={{ false }}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "node-filter-parse",
      "name": "Filter Parse Errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2620,
        220
      ],
      "notes": "TRUE -> Loop Each TC. FALSE -> advance outer loop."
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "node-loop-tcs",
      "name": "Loop Each TC",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2820,
        220
      ],
      "notes": "One TC per iteration (loop = index 1). Done (index 0) -> Verify Coverage."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/list/{{ $json.list_id }}/task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  name: $json.tc_name || (($('Set Config').first().json.TC_PREFIX || '[TC]') + ' ' + ($json.tc_id || 'TC') + ' - ' + ($json.title || 'Test Case')),\n  parent: $json.parent_task_id,\n  assignees: $json.assignee_id ? [parseInt($json.assignee_id)] : [],\n  priority: $json.priority === 'urgent' ? 1 : $json.priority === 'high' ? 2 : $json.priority === 'normal' ? 3 : 4,\n  markdown_description: '## Test Case Details\\n' +\n    '**TC ID:** ' + ($json.tc_id || '') + '\\n' +\n    '**Module:** ' + ($json.module || '') + '\\n' +\n    '**Type:** ' + ($json.type || '') + '\\n' +\n    '**Priority:** ' + ($json.priority || '') + '\\n' +\n    '**Objective:** ' + ($json.objective || '') + '\\n\\n' +\n    '## Preconditions\\n' + ($json.preconditions || 'None') + '\\n\\n' +\n    '## Steps\\n' + ($json.steps || '') + '\\n\\n' +\n    '## Test Data\\n' + ($json.test_data || 'N/A') + '\\n\\n' +\n    '## Expected Result\\n' + ($json.expected_result || '')\n}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "clickup-header-auth",
          "name": "ClickUp API (Header Auth)"
        }
      },
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "id": "node-create",
      "name": "Create TC Subtask in ClickUp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3020,
        160
      ],
      "notes": "Creates a [TC] subtask under the parent. Retries on 429 (5x, 5s backoff)."
    },
    {
      "parameters": {
        "amount": "={{ $('Set Config').first().json.RATE_LIMIT_SECONDS }}",
        "unit": "seconds"
      },
      "id": "node-wait",
      "name": "Wait Rate Limit",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3220,
        160
      ],
      "notes": "Paces ClickUp writes by RATE_LIMIT_SECONDS (default 2s). Do not remove."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.clickup.com/api/v2/task/{{ $('Loop Each Ticket').first().json.task_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "include_subtasks",
              "value": "true"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "clickup-header-auth",
          "name": "ClickUp API (Header Auth)"
        }
      },
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "id": "node-verify",
      "name": "Verify Coverage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3020,
        360
      ],
      "notes": "Re-fetch the ticket's subtasks to confirm generated [TC] exist. Retries on 429 (5x, 5s backoff)."
    },
    {
      "parameters": {
        "jsCode": "// ASSERT COVERAGE (verify each ticket actually got its [TC] subtasks)\nconst cfg = $('Set Config').first().json;\nconst TC_PREFIX = cfg.TC_PREFIX || '[TC]';\nconst MAX_RETRIES = Number(cfg.VERIFY_MAX_RETRIES);\nconst maxRetries = Number.isFinite(MAX_RETRIES) ? MAX_RETRIES : 2;\n\nconst detail = $input.first().json;\nconst generated = $('Parse TCs from DeepSeek').all().map(i => i.json).filter(t => t && t.error !== true);\nif (generated.length === 0) {\n  return [{ json: { coverage_ok: true, parent_task_id: (detail && detail.id) || '', note: 'no_generated_tcs' } }];\n}\n\nconst parentId = generated[0].parent_task_id || (detail && detail.id) || '';\nconst ticketName = generated[0].task_name || (detail && detail.name) || parentId;\n\nconst existingNames = (detail.subtasks || [])\n  .map(st => (st.name || '').trim())\n  .filter(n => n.startsWith(TC_PREFIX));\nconst existingSet = new Set(existingNames);\n\nconst missing = generated.filter(tc => !existingSet.has((tc.tc_name || '').trim()));\n\nlet attempt = 0;\ntry { attempt = Number($json.verify_attempt) || 0; } catch (e) { attempt = 0; }\n\nif (missing.length === 0) {\n  return [{ json: { coverage_ok: true, parent_task_id: parentId, verified: existingNames.length, expected: generated.length } }];\n}\n\nif (attempt >= maxRetries) {\n  throw new Error('TC coverage incomplete for \"' + ticketName + '\" (' + parentId + '): found ' +\n    (generated.length - missing.length) + '/' + generated.length + ' after ' + attempt +\n    ' retr(y/ies). Missing: ' + missing.map(m => m.tc_name).join(' | '));\n}\n\nreturn missing.map(tc => ({ json: { ...tc, coverage_ok: false, verify_attempt: attempt + 1 } }));\n"
      },
      "id": "node-assert",
      "name": "Assert Coverage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3220,
        360
      ],
      "notes": "Generated [TC] vs existing. All present -> coverage_ok. Missing + retries left -> re-emit. Missing + no retries -> THROW."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-ok",
              "leftValue": "={{ $json.coverage_ok }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "node-filter-ok",
      "name": "Filter Coverage OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3420,
        360
      ],
      "notes": "TRUE -> advance outer loop. FALSE (missing) -> recreate."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/list/{{ $json.list_id }}/task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  name: $json.tc_name || (($('Set Config').first().json.TC_PREFIX || '[TC]') + ' ' + ($json.tc_id || 'TC') + ' - ' + ($json.title || 'Test Case')),\n  parent: $json.parent_task_id,\n  assignees: $json.assignee_id ? [parseInt($json.assignee_id)] : [],\n  priority: $json.priority === 'urgent' ? 1 : $json.priority === 'high' ? 2 : $json.priority === 'normal' ? 3 : 4,\n  markdown_description: '## Test Case Details\\n' +\n    '**TC ID:** ' + ($json.tc_id || '') + '\\n' +\n    '**Module:** ' + ($json.module || '') + '\\n' +\n    '**Type:** ' + ($json.type || '') + '\\n' +\n    '**Priority:** ' + ($json.priority || '') + '\\n' +\n    '**Objective:** ' + ($json.objective || '') + '\\n\\n' +\n    '## Preconditions\\n' + ($json.preconditions || 'None') + '\\n\\n' +\n    '## Steps\\n' + ($json.steps || '') + '\\n\\n' +\n    '## Test Data\\n' + ($json.test_data || 'N/A') + '\\n\\n' +\n    '## Expected Result\\n' + ($json.expected_result || '')\n}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "clickup-header-auth",
          "name": "ClickUp API (Header Auth)"
        }
      },
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "id": "node-recreate",
      "name": "Recreate Missing TCs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3620,
        440
      ],
      "notes": "Re-create [TC] subtasks verification found missing. Retries on 429 (5x, 5s backoff)."
    },
    {
      "parameters": {
        "amount": "={{ $('Set Config').first().json.RATE_LIMIT_SECONDS }}",
        "unit": "seconds"
      },
      "id": "node-wait2",
      "name": "Wait (Recreate)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3820,
        440
      ],
      "notes": "Paces recreate writes by RATE_LIMIT_SECONDS, then re-verify."
    },
    {
      "parameters": {},
      "id": "node-exec-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        220,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nconst cfg = $('Set Config').first().json;\nconst LIMIT = Number(cfg.DASHBOARD_HISTORY_LIMIT) || 30;\nconst cur = sd.currentRun || { scanned:0, updated:0, tcs_created:0, failed:0, parse_failures:0 };\nconst scanned = cur.scanned || 0;\nconst skipped = Math.max(0, scanned - (cur.updated||0) - (cur.failed||0));\nconst rec = { run_at: new Date().toISOString(), execution_id: $execution.id, tickets_scanned: scanned, tickets_updated: cur.updated||0, tickets_skipped: skipped, tickets_failed: cur.failed||0, tcs_created: cur.tcs_created||0, parse_failures: cur.parse_failures||0, status: (cur.failed||0) > 0 ? 'partial' : 'success' };\nif (!Array.isArray(sd.runHistory)) sd.runHistory = [];\nsd.runHistory.push(rec);\nif (sd.runHistory.length > LIMIT) sd.runHistory = sd.runHistory.slice(-LIMIT);\nsd.currentRun = null;\nconst title = 'QA TC Scanner — run complete';\nconst text = 'Scanned ' + rec.tickets_scanned + ' | Updated ' + rec.tickets_updated + ' | Skipped ' + rec.tickets_skipped + ' | Failed ' + rec.tickets_failed + ' | TCs created ' + rec.tcs_created;\nconst card = JSON.stringify({ '@type':'MessageCard', '@context':'http://schema.org/extensions', themeColor:'2EB67D', summary:title, title:'✅ '+title, text:text });\nreturn [{ json: { notify_source:'run_summary', notify_title:title, notify_text:text, teams_webhook_url: cfg.TEAMS_WEBHOOK_URL||'', teams_card: card, alerts_task_id: cfg.ALERTS_TASK_ID||'', clickup_comment_text: '🤖 '+title+'\\n\\n'+text } }];\n"
      },
      "id": "node-build-summary",
      "name": "Build Run Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1620,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const assert = $input.first().json;\nconst ticketId = assert.parent_task_id || '';\nconst tcs = $('Parse TCs from DeepSeek').all().map(i => i.json).filter(t => t && t.error !== true);\nconst ticketName = (tcs[0] && tcs[0].task_name) || ticketId;\nconst byType = {}; const byPrio = {};\nfor (const t of tcs) { byType[t.type]=(byType[t.type]||0)+1; byPrio[t.priority]=(byPrio[t.priority]||0)+1; }\nconst typeLines = Object.keys(byType).map(k => '- ' + k + ': ' + byType[k]).join('\\n');\nconst prioLines = Object.keys(byPrio).map(k => k + '=' + byPrio[k]).join(', ');\nconst names = tcs.map(t => '- ' + t.tc_name).join('\\n');\nconst comment = '🤖 QA Bot: added ' + tcs.length + ' test case(s).\\n\\n**By type:**\\n' + typeLines + '\\n\\n**By priority:** ' + prioLines + '\\n\\n**Test cases:**\\n' + names;\nconst sd = $getWorkflowStaticData('global');\nif (!sd.currentRun) sd.currentRun = { scanned:0, updated:0, tcs_created:0, failed:0, parse_failures:0 };\nsd.currentRun.updated += 1; sd.currentRun.tcs_created += tcs.length;\nreturn [{ json: { ticket_id: ticketId, ticket_name: ticketName, tc_count: tcs.length, clickup_comment: comment } }];\n"
      },
      "id": "node-build-tc-comment",
      "name": "Build TC Comment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3620,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.ticket_id }}/comment",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({comment_text: $json.clickup_comment, notify_all: false}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "clickup-header-auth",
          "name": "ClickUp API (Header Auth)"
        }
      },
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput",
      "id": "node-comment-tcs",
      "name": "Comment TCs Added",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3820,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const e = $input.first().json;\nconst sd = $getWorkflowStaticData('global');\nif (!sd.currentRun) sd.currentRun = { scanned:0, updated:0, tcs_created:0, failed:0, parse_failures:0 };\nsd.currentRun.failed += 1; sd.currentRun.parse_failures += 1;\nconst comment = '🤖 QA Bot: ⚠️ test-case generation FAILED (' + (e.error_type||'unknown') + '). No [TC] subtasks created this run.\\n\\nRaw model preview:\\n```\\n' + String(e.raw_preview||'(none)').substring(0,400) + '\\n```';\nreturn [{ json: { ticket_id: e.task_id || '', ticket_name: e.task_name || '', error_type: e.error_type||'unknown', clickup_comment: comment } }];\n"
      },
      "id": "node-build-fail-comment",
      "name": "Build Failure Comment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.ticket_id }}/comment",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({comment_text: $json.clickup_comment, notify_all: false}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "clickup-header-auth",
          "name": "ClickUp API (Header Auth)"
        }
      },
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput",
      "id": "node-comment-fail",
      "name": "Comment Generation Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2820,
        380
      ]
    },
    {
      "parameters": {},
      "id": "node-error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        220,
        820
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            {
              "id": "rc-0",
              "name": "TEAMS_WEBHOOK_URL",
              "value": "",
              "type": "string"
            },
            {
              "id": "rc-1",
              "name": "ALERTS_TASK_ID",
              "value": "",
              "type": "string"
            },
            {
              "id": "rc-2",
              "name": "ALERTS_CLICKUP_LIST_ID",
              "value": "901608730150",
              "type": "string"
            },
            {
              "id": "rc-3",
              "name": "MAIN_WORKFLOW_ID",
              "value": "",
              "type": "string"
            },
            {
              "id": "rc-4",
              "name": "N8N_BASE_URL",
              "value": "http://localhost:5678",
              "type": "string"
            },
            {
              "id": "rc-5",
              "name": "MAX_AUTO_RERUNS_PER_DAY",
              "value": 2,
              "type": "number"
            },
            {
              "id": "rc-6",
              "name": "STUCK_MINUTES",
              "value": 20,
              "type": "number"
            },
            {
              "id": "rc-7",
              "name": "EXPECTED_RUN_HOUR",
              "value": 0,
              "type": "number"
            },
            {
              "id": "rc-8",
              "name": "DASHBOARD_TASK_ID",
              "value": "",
              "type": "string"
            },
            {
              "id": "rc-9",
              "name": "DASHBOARD_HISTORY_LIMIT",
              "value": 30,
              "type": "number"
            },
            {
              "id": "rc-10",
              "name": "DEEPSEEK_MODEL",
              "value": "deepseek-v4-pro",
              "type": "string"
            },
            {
              "id": "rc-11",
              "name": "DEEPSEEK_MAX_TOKENS",
              "value": 2000,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "node-remediation-config",
      "name": "Remediation Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        820
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst err = (item.execution && item.execution.error) || {};\nconst msg = (err.message || JSON.stringify(err) || '').toString();\nconst lastNode = (item.execution && item.execution.lastNodeExecuted) || '';\nconst lower = msg.toLowerCase();\nconst sd = $getWorkflowStaticData('global');\nconst cur = sd.currentRun || { scanned:0, updated:0, tcs_created:0, failed:0, parse_failures:0 };\nconst LIMIT = Number(item.DASHBOARD_HISTORY_LIMIT) || 30;\nif (!Array.isArray(sd.runHistory)) sd.runHistory = [];\nsd.runHistory.push({ run_at:new Date().toISOString(), execution_id:(item.execution&&item.execution.id)||'', tickets_scanned:cur.scanned||0, tickets_updated:cur.updated||0, tickets_skipped:Math.max(0,(cur.scanned||0)-(cur.updated||0)-(cur.failed||0)), tickets_failed:cur.failed||0, tcs_created:cur.tcs_created||0, parse_failures:cur.parse_failures||0, status:'error', error:msg.substring(0,300), failed_node:lastNode });\nif (sd.runHistory.length > LIMIT) sd.runHistory = sd.runHistory.slice(-LIMIT);\nsd.currentRun = null;\nlet category='unknown', is_auto_fixable=false, action='escalate';\nif (lower.includes('429')||lower.includes('rate limit')||lower.includes('too many requests')) { category='transient_rate_limit'; is_auto_fixable=true; action='rerun'; }\nelse if (lower.includes('econnreset')||lower.includes('etimedout')||lower.includes('timeout')||/\\b50\\d\\b/.test(msg)||lower.includes('socket hang up')) { category='transient_upstream'; is_auto_fixable=true; action='rerun'; }\nelse if (lastNode==='DeepSeek Generate TCs'||lastNode==='Parse TCs from DeepSeek'||lower.includes('json')||lower.includes('parse')) { category='generation_parse'; is_auto_fixable=true; action='rerun'; }\nelse if (lower.includes('coverage incomplete')||lastNode==='Assert Coverage') { category='coverage_incomplete'; is_auto_fixable=true; action='rerun'; }\nelse if (lower.includes('401')||lower.includes('403')||lower.includes('authorization')||lower.includes('unauthorized')||lower.includes('forbidden')) { category='auth'; is_auto_fixable=false; action='escalate'; }\nreturn [{ json: { ...item, error_message:msg, failed_node:lastNode, execution_id:(item.execution&&item.execution.id)||'', execution_url:(item.execution&&item.execution.url)||'', workflow_name:(item.workflow&&item.workflow.name)||'', category, is_auto_fixable, action, known: category!=='unknown' } }];\n"
      },
      "id": "node-classify",
      "name": "Classify Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-known",
              "leftValue": "={{ $json.known }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "node-if-known",
      "name": "IF Known",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        820
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $json.DEEPSEEK_MODEL, max_tokens: $json.DEEPSEEK_MAX_TOKENS, messages: [ {role:'system', content:'You are an SRE assistant. Classify the n8n workflow failure. Return ONLY a JSON object with keys: category (string), is_auto_fixable (boolean), suggested_action (string), human_summary (string). No markdown, no fences.'}, {role:'user', content:'Failed node: ' + ($json.failed_node||'') + '\\nError: ' + ($json.error_message||'') } ] }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "deepseek-header-auth",
          "name": "DeepSeek API (Header Auth)"
        }
      },
      "onError": "continueRegularOutput",
      "id": "node-deepseek-classify",
      "name": "DeepSeek Classify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        940
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $('Classify Failure').first().json;\nconst resp = $input.first().json;\nlet txt='';\nif (resp && resp.choices && resp.choices[0] && resp.choices[0].message) txt = resp.choices[0].message.content || '';\nlet parsed=null;\ntry { parsed = JSON.parse(String(txt).replace(/```json/gi,'').replace(/```/g,'').trim()); }\ncatch(e){ const m=String(txt).match(/\\{[\\s\\S]*\\}/); if(m){ try{ parsed=JSON.parse(m[0]); }catch(e2){} } }\nconst out = { ...base };\nif (parsed && typeof parsed==='object') { out.category = parsed.category || base.category; out.is_auto_fixable = parsed.is_auto_fixable === true; out.action = out.is_auto_fixable ? 'rerun' : 'escalate'; out.llm_summary = parsed.human_summary || parsed.suggested_action || ''; }\nout.known = true;\nreturn [{ json: out }];\n"
      },
      "id": "node-parse-classify",
      "name": "Parse Classify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        940
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst sd = $getWorkflowStaticData('global');\nconst day = new Date().toISOString().slice(0,10);\nif (!sd.reruns) sd.reruns = {};\nconst used = sd.reruns[day] || 0;\nconst MAX = Number(item.MAX_AUTO_RERUNS_PER_DAY); const max = Number.isFinite(MAX) ? MAX : 2;\nlet do_rerun = false;\nif (item.is_auto_fixable && used < max) { do_rerun = true; sd.reruns[day] = used + 1; }\nreturn [{ json: { ...item, do_rerun, reruns_used: sd.reruns[day]||used, reruns_max: max } }];\n"
      },
      "id": "node-rerun-guard",
      "name": "Re-run Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-autofix",
              "leftValue": "={{ $json.do_rerun }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "node-if-autofix",
      "name": "IF Auto-fix",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1760,
        820
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "={{ $json.MAIN_WORKFLOW_ID }}",
        "options": {}
      },
      "onError": "continueRegularOutput",
      "id": "node-retrigger",
      "name": "Re-trigger Scanner",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1980,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "const it = $input.first().json;\nconst fixed = it.do_rerun ? ('auto re-ran the scanner (' + it.reruns_used + '/' + it.reruns_max + ' today)') : 'no auto-fix applied';\nconst title = it.is_auto_fixable ? '⚠️ QA Scanner failure (auto-handled)' : '🚨 QA Scanner failure (needs attention)';\nconst text = 'Workflow: ' + (it.workflow_name||'') + '\\nFailed node: ' + (it.failed_node||'?') + '\\nCategory: ' + it.category + '\\nAction: ' + fixed + (it.llm_summary ? '\\nLLM: ' + it.llm_summary : '') + '\\nError: ' + String(it.error_message||'').substring(0,400) + (it.execution_url ? '\\nExecution: ' + it.execution_url : '');\nconst color = it.is_auto_fixable ? 'E2A100' : 'D7263D';\nconst card = JSON.stringify({ '@type':'MessageCard', '@context':'http://schema.org/extensions', themeColor: color, summary: title, title: title, text: text.split('\\n').join('\\n\\n') });\nreturn [{ json: { notify_source:'remediation', notify_title:title, notify_text:text, teams_webhook_url: it.TEAMS_WEBHOOK_URL||'', teams_card: card, alerts_task_id: it.ALERTS_TASK_ID||'', clickup_comment_text: '🤖 '+title+'\\n\\n'+text } }];\n"
      },
      "id": "node-build-remediation",
      "name": "Build Remediation Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        820
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "node-monitor-schedule",
      "name": "Monitor Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        1140
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            {
              "id": "mc-0",
              "name": "TEAMS_WEBHOOK_URL",
              "value": "",
              "type": "string"
            },
            {
              "id": "mc-1",
              "name": "ALERTS_TASK_ID",
              "value": "",
              "type": "string"
            },
            {
              "id": "mc-2",
              "name": "ALERTS_CLICKUP_LIST_ID",
              "value": "901608730150",
              "type": "string"
            },
            {
              "id": "mc-3",
              "name": "MAIN_WORKFLOW_ID",
              "value": "",
              "type": "string"
            },
            {
              "id": "mc-4",
              "name": "N8N_BASE_URL",
              "value": "http://localhost:5678",
              "type": "string"
            },
            {
              "id": "mc-5",
              "name": "MAX_AUTO_RERUNS_PER_DAY",
              "value": 2,
              "type": "number"
            },
            {
              "id": "mc-6",
              "name": "STUCK_MINUTES",
              "value": 20,
              "type": "number"
            },
            {
              "id": "mc-7",
              "name": "EXPECTED_RUN_HOUR",
              "value": 0,
              "type": "number"
            },
            {
              "id": "mc-8",
              "name": "DASHBOARD_TASK_ID",
              "value": "",
              "type": "string"
            },
            {
              "id": "mc-9",
              "name": "DASHBOARD_HISTORY_LIMIT",
              "value": 30,
              "type": "number"
            },
            {
              "id": "mc-10",
              "name": "DEEPSEEK_MODEL",
              "value": "deepseek-v4-pro",
              "type": "string"
            },
            {
              "id": "mc-11",
              "name": "DEEPSEEK_MAX_TOKENS",
              "value": 2000,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "node-monitor-config",
      "name": "Monitor Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        1140
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.N8N_BASE_URL }}/api/v1/executions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "workflowId",
              "value": "={{ $json.MAIN_WORKFLOW_ID }}"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8n-api-header-auth",
          "name": "n8n API (Header Auth)"
        }
      },
      "onError": "continueRegularOutput",
      "id": "node-fetch-execs",
      "name": "Fetch Executions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        1140
      ]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Monitor Config').first().json;\nconst resp = $input.first().json;\nconst list = (resp && (resp.data || resp.results)) || (Array.isArray(resp) ? resp : null);\nconst execs = Array.isArray(list) ? list : [];\nconst apiDown = !Array.isArray(list);\nconst now = Date.now();\nconst STUCK = (Number(cfg.STUCK_MINUTES)||20) * 60000;\nconst expectedHour = Number(cfg.EXPECTED_RUN_HOUR);\nconst failed = execs.filter(e => e.status==='error').slice(0,10);\nconst stuck = execs.filter(e => (e.status==='running' || (!e.stoppedAt && e.finished===false)) && e.startedAt && (now - new Date(e.startedAt).getTime() > STUCK));\nconst istNow = new Date(now + 5.5*3600000);\nconst istToday = istNow.toISOString().slice(0,10);\nconst ranToday = execs.some(e => e.startedAt && new Date(new Date(e.startedAt).getTime()+5.5*3600000).toISOString().slice(0,10) === istToday);\nconst pastWindow = istNow.getUTCHours() >= ((Number.isFinite(expectedHour)?expectedHour:0) + 1);\nconst missed = !ranToday && pastWindow;\nconst signals = [];\nif (apiDown) signals.push('Monitor could not read executions from the n8n API.');\nif (failed.length) signals.push('Failed executions: ' + failed.length + ' (latest id ' + (failed[0].id||'') + ').');\nif (stuck.length) signals.push('Stuck/long-running: ' + stuck.length + ' over ' + (Number(cfg.STUCK_MINUTES)||20) + ' min.');\nif (missed) signals.push('HEARTBEAT: scanner has NOT run today (expected ~' + (Number.isFinite(expectedHour)?expectedHour:0) + ':00 IST).');\nconst report = signals.length > 0;\nreturn [{ json: { report, signals, failed_count:failed.length, stuck_count:stuck.length, missed, api_down:apiDown, TEAMS_WEBHOOK_URL: cfg.TEAMS_WEBHOOK_URL||'', ALERTS_TASK_ID: cfg.ALERTS_TASK_ID||'', DASHBOARD_TASK_ID: cfg.DASHBOARD_TASK_ID||'', DASHBOARD_HISTORY_LIMIT: cfg.DASHBOARD_HISTORY_LIMIT||30 } }];\n"
      },
      "id": "node-health-eval",
      "name": "Health Evaluator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-report",
              "leftValue": "={{ $json.report }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "node-if-report",
      "name": "IF Report",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        1140
      ]
    },
    {
      "parameters": {
        "jsCode": "const it = $input.first().json;\nconst title = '🩺 QA Scanner health alert';\nconst text = (it.signals||[]).join('\\n');\nconst color = (it.missed || it.api_down) ? 'D7263D' : 'E2A100';\nconst card = JSON.stringify({ '@type':'MessageCard', '@context':'http://schema.org/extensions', themeColor: color, summary: title, title: title, text: String(text).split('\\n').join('\\n\\n') });\nreturn [{ json: { notify_source:'monitor', notify_title:title, notify_text:text, teams_webhook_url: it.TEAMS_WEBHOOK_URL||'', teams_card: card, alerts_task_id: it.ALERTS_TASK_ID||'', clickup_comment_text: '🤖 '+title+'\\n\\n'+text } }];\n"
      },
      "id": "node-build-monitor",
      "name": "Build Monitor Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        1140
      ]
    },
    {
      "parameters": {
        "jsCode": "const it = $input.first().json;\nconst sd = $getWorkflowStaticData('global');\nconst hist = Array.isArray(sd.runHistory) ? sd.runHistory : [];\nconst N = Number(it.DASHBOARD_HISTORY_LIMIT) || 30;\nconst recent = hist.slice(-N);\nlet upd=0, fail=0, tcs=0, succ=0;\nfor (const r of recent){ upd+=r.tickets_updated||0; fail+=r.tickets_failed||0; tcs+=r.tcs_created||0; if(r.status==='success')succ++; }\nconst rate = recent.length ? Math.round(100*succ/recent.length) : 0;\nconst last = recent[recent.length-1];\nconst lastLine = last ? (last.run_at + ' — scanned ' + last.tickets_scanned + ', updated ' + last.tickets_updated + ', skipped ' + last.tickets_skipped + ', failed ' + last.tickets_failed) : 'no runs yet';\nconst rows = recent.slice(-10).reverse().map(r => '| ' + String(r.run_at).slice(0,16).replace('T',' ') + ' | ' + r.status + ' | ' + (r.tickets_updated||0) + ' | ' + (r.tickets_failed||0) + ' | ' + (r.tcs_created||0) + ' |').join('\\n');\nconst md = '# QA TC Scanner — Dashboard (last ' + recent.length + ' runs)\\n\\n**Updated:** ' + upd + ' tickets  |  **Failed:** ' + fail + '  |  **TCs created:** ' + tcs + '  |  **Success rate:** ' + rate + '%\\n\\n**Last run:** ' + lastLine + '\\n\\n| Run | Status | Updated | Failed | TCs |\\n|---|---|---|---|---|\\n' + rows + '\\n\\n_Updated ' + new Date().toISOString() + '_';\nreturn [{ json: { dashboard_md: md, dashboard_task_id: it.DASHBOARD_TASK_ID||'' } }];\n"
      },
      "id": "node-build-dashboard",
      "name": "Build Dashboard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        1320
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.dashboard_task_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ markdown_content: $json.dashboard_md }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "clickup-header-auth",
          "name": "ClickUp API (Header Auth)"
        }
      },
      "onError": "continueRegularOutput",
      "id": "node-update-dashboard",
      "name": "Update Dashboard Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        1320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.teams_webhook_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.teams_card }}",
        "options": {
          "timeout": 20000
        }
      },
      "onError": "continueRegularOutput",
      "id": "node-notify-teams",
      "name": "Notify Teams",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        980
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.alerts_task_id }}/comment",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ comment_text: $json.clickup_comment_text, notify_all: false }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "clickup-header-auth",
          "name": "ClickUp API (Header Auth)"
        }
      },
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput",
      "id": "node-notify-clickup",
      "name": "Notify ClickUp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2820,
        980
      ]
    }
  ],
  "connections": {
    "Daily Midnight IST": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Expand List IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand List IDs": {
      "main": [
        [
          {
            "node": "Fetch Candidate Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Candidate Tickets": {
      "main": [
        [
          {
            "node": "Filter Target-Status Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Target-Status Candidates": {
      "main": [
        [
          {
            "node": "Batch Limiter Dynamic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Limiter Dynamic": {
      "main": [
        [
          {
            "node": "Loop Each Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Each Ticket": {
      "main": [
        [
          {
            "node": "Build Run Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Ticket Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ticket Detail": {
      "main": [
        [
          {
            "node": "Evaluate Coverage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Coverage": {
      "main": [
        [
          {
            "node": "Filter Needs Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Needs Generation": {
      "main": [
        [
          {
            "node": "DeepSeek Generate TCs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Each Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Generate TCs": {
      "main": [
        [
          {
            "node": "Parse TCs from DeepSeek",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse TCs from DeepSeek": {
      "main": [
        [
          {
            "node": "Filter Parse Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Parse Errors": {
      "main": [
        [
          {
            "node": "Loop Each TC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Failure Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Each TC": {
      "main": [
        [
          {
            "node": "Verify Coverage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create TC Subtask in ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create TC Subtask in ClickUp": {
      "main": [
        [
          {
            "node": "Wait Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Rate Limit": {
      "main": [
        [
          {
            "node": "Loop Each TC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Coverage": {
      "main": [
        [
          {
            "node": "Assert Coverage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assert Coverage": {
      "main": [
        [
          {
            "node": "Filter Coverage OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Coverage OK": {
      "main": [
        [
          {
            "node": "Build TC Comment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Recreate Missing TCs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recreate Missing TCs": {
      "main": [
        [
          {
            "node": "Wait (Recreate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Recreate)": {
      "main": [
        [
          {
            "node": "Verify Coverage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Run Summary": {
      "main": [
        [
          {
            "node": "Notify Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build TC Comment": {
      "main": [
        [
          {
            "node": "Comment TCs Added",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment TCs Added": {
      "main": [
        [
          {
            "node": "Loop Each Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Failure Comment": {
      "main": [
        [
          {
            "node": "Comment Generation Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment Generation Failure": {
      "main": [
        [
          {
            "node": "Loop Each Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Remediation Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remediation Config": {
      "main": [
        [
          {
            "node": "Classify Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Failure": {
      "main": [
        [
          {
            "node": "IF Known",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Known": {
      "main": [
        [
          {
            "node": "Re-run Guard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DeepSeek Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Classify": {
      "main": [
        [
          {
            "node": "Parse Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classify": {
      "main": [
        [
          {
            "node": "Re-run Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-run Guard": {
      "main": [
        [
          {
            "node": "IF Auto-fix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Auto-fix": {
      "main": [
        [
          {
            "node": "Re-trigger Scanner",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Remediation Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-trigger Scanner": {
      "main": [
        [
          {
            "node": "Build Remediation Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Remediation Notification": {
      "main": [
        [
          {
            "node": "Notify Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monitor Schedule": {
      "main": [
        [
          {
            "node": "Monitor Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monitor Config": {
      "main": [
        [
          {
            "node": "Fetch Executions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Executions": {
      "main": [
        [
          {
            "node": "Health Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Evaluator": {
      "main": [
        [
          {
            "node": "IF Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Report": {
      "main": [
        [
          {
            "node": "Build Monitor Notification",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build Monitor Notification": {
      "main": [
        [
          {
            "node": "Notify Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Dashboard": {
      "main": [
        [
          {
            "node": "Update Dashboard Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Teams": {
      "main": [
        [
          {
            "node": "Notify ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "Asia/Kolkata",
    "saveExecutionProgress": true
  },
  "staticData": null,
  "tags": [
    {
      "name": "qa-automation"
    },
    {
      "name": "clickup"
    },
    {
      "name": "deepseek"
    },
    {
      "name": "daily-scanner"
    }
  ],
  "triggerCount": 1,
  "versionId": "3.2.0"
}